# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_app

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist

* text=auto

# 특정 파일에 대해 LF로 설정
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
